<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.jk.mapper.ExportCMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.jk.pojo.ExportC" >
    <id column="EXPORT_ID" property="exportId" jdbcType="VARCHAR" />
    <result column="PACKING_LIST_ID" property="packingListId" jdbcType="VARCHAR" />
    <result column="CONTRACT_ID" property="contractId" jdbcType="VARCHAR" />
    <result column="INPUT_DATE" property="inputDate" jdbcType="TIMESTAMP" />
    <result column="CONTRACT_IDS" property="contractIds" jdbcType="VARCHAR" />
    <result column="CUSTOMER_CONTRACT" property="customerContract" jdbcType="VARCHAR" />
    <result column="LCNO" property="lcno" jdbcType="VARCHAR" />
    <result column="CONSIGNEE" property="consignee" jdbcType="VARCHAR" />
    <result column="MARKS" property="marks" jdbcType="VARCHAR" />
    <result column="SHIPMENT_PORT" property="shipmentPort" jdbcType="VARCHAR" />
    <result column="DESTINATION_PORT" property="destinationPort" jdbcType="VARCHAR" />
    <result column="TRANSPORT_MODE" property="transportMode" jdbcType="VARCHAR" />
    <result column="PRICE_CONDITION" property="priceCondition" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="BOX_NUM" property="boxNum" jdbcType="INTEGER" />
    <result column="CNUMBER" property="cnumber" jdbcType="INTEGER" />
    <result column="PACKING_UNIT" property="packingUnit" jdbcType="VARCHAR" />
    <result column="GROSS_WEIGHT" property="grossWeight" jdbcType="DECIMAL" />
    <result column="NET_WEIGHT" property="netWeight" jdbcType="DECIMAL" />
    <result column="SIZE_LENGTH" property="sizeLength" jdbcType="DECIMAL" />
    <result column="SIZE_WIDTH" property="sizeWidth" jdbcType="DECIMAL" />
    <result column="SIZE_HEIGHT" property="sizeHeight" jdbcType="DECIMAL" />
    <result column="CSIZE" property="csize" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="NO_TAX" property="noTax" jdbcType="DECIMAL" />
    <result column="TAX" property="tax" jdbcType="DECIMAL" />
    <result column="COST_PRICE" property="costPrice" jdbcType="DECIMAL" />
    <result column="COST_TAX" property="costTax" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="INTEGER" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DEPT" property="createDept" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EXPORT_ID, PACKING_LIST_ID, CONTRACT_ID, INPUT_DATE, CONTRACT_IDS, CUSTOMER_CONTRACT, 
    LCNO, CONSIGNEE, MARKS, SHIPMENT_PORT, DESTINATION_PORT, TRANSPORT_MODE, PRICE_CONDITION, 
    REMARK, BOX_NUM, CNUMBER, PACKING_UNIT, GROSS_WEIGHT, NET_WEIGHT, SIZE_LENGTH, SIZE_WIDTH, 
    SIZE_HEIGHT, CSIZE, AMOUNT, NO_TAX, TAX, COST_PRICE, COST_TAX, STATE, CREATE_BY, 
    CREATE_DEPT, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.itcast.jk.pojo.ExportCExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from export_c
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from export_c
    where EXPORT_ID = #{exportId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from export_c
    where EXPORT_ID = #{exportId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.itcast.jk.pojo.ExportCExample" >
    delete from export_c
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.itcast.jk.pojo.ExportC" >
    insert into export_c (EXPORT_ID, PACKING_LIST_ID, CONTRACT_ID, 
      INPUT_DATE, CONTRACT_IDS, CUSTOMER_CONTRACT, 
      LCNO, CONSIGNEE, MARKS, 
      SHIPMENT_PORT, DESTINATION_PORT, TRANSPORT_MODE, 
      PRICE_CONDITION, REMARK, BOX_NUM, 
      CNUMBER, PACKING_UNIT, GROSS_WEIGHT, 
      NET_WEIGHT, SIZE_LENGTH, SIZE_WIDTH, 
      SIZE_HEIGHT, CSIZE, AMOUNT, 
      NO_TAX, TAX, COST_PRICE, 
      COST_TAX, STATE, CREATE_BY, 
      CREATE_DEPT, CREATE_TIME)
    values (#{exportId,jdbcType=VARCHAR}, #{packingListId,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}, 
      #{inputDate,jdbcType=TIMESTAMP}, #{contractIds,jdbcType=VARCHAR}, #{customerContract,jdbcType=VARCHAR}, 
      #{lcno,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, #{marks,jdbcType=VARCHAR}, 
      #{shipmentPort,jdbcType=VARCHAR}, #{destinationPort,jdbcType=VARCHAR}, #{transportMode,jdbcType=VARCHAR}, 
      #{priceCondition,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{boxNum,jdbcType=INTEGER}, 
      #{cnumber,jdbcType=INTEGER}, #{packingUnit,jdbcType=VARCHAR}, #{grossWeight,jdbcType=DECIMAL}, 
      #{netWeight,jdbcType=DECIMAL}, #{sizeLength,jdbcType=DECIMAL}, #{sizeWidth,jdbcType=DECIMAL}, 
      #{sizeHeight,jdbcType=DECIMAL}, #{csize,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{noTax,jdbcType=DECIMAL}, #{tax,jdbcType=DECIMAL}, #{costPrice,jdbcType=DECIMAL}, 
      #{costTax,jdbcType=DECIMAL}, #{state,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createDept,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.jk.pojo.ExportC" >
    insert into export_c
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="exportId != null" >
        EXPORT_ID,
      </if>
      <if test="packingListId != null" >
        PACKING_LIST_ID,
      </if>
      <if test="contractId != null" >
        CONTRACT_ID,
      </if>
      <if test="inputDate != null" >
        INPUT_DATE,
      </if>
      <if test="contractIds != null" >
        CONTRACT_IDS,
      </if>
      <if test="customerContract != null" >
        CUSTOMER_CONTRACT,
      </if>
      <if test="lcno != null" >
        LCNO,
      </if>
      <if test="consignee != null" >
        CONSIGNEE,
      </if>
      <if test="marks != null" >
        MARKS,
      </if>
      <if test="shipmentPort != null" >
        SHIPMENT_PORT,
      </if>
      <if test="destinationPort != null" >
        DESTINATION_PORT,
      </if>
      <if test="transportMode != null" >
        TRANSPORT_MODE,
      </if>
      <if test="priceCondition != null" >
        PRICE_CONDITION,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="boxNum != null" >
        BOX_NUM,
      </if>
      <if test="cnumber != null" >
        CNUMBER,
      </if>
      <if test="packingUnit != null" >
        PACKING_UNIT,
      </if>
      <if test="grossWeight != null" >
        GROSS_WEIGHT,
      </if>
      <if test="netWeight != null" >
        NET_WEIGHT,
      </if>
      <if test="sizeLength != null" >
        SIZE_LENGTH,
      </if>
      <if test="sizeWidth != null" >
        SIZE_WIDTH,
      </if>
      <if test="sizeHeight != null" >
        SIZE_HEIGHT,
      </if>
      <if test="csize != null" >
        CSIZE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="noTax != null" >
        NO_TAX,
      </if>
      <if test="tax != null" >
        TAX,
      </if>
      <if test="costPrice != null" >
        COST_PRICE,
      </if>
      <if test="costTax != null" >
        COST_TAX,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDept != null" >
        CREATE_DEPT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="exportId != null" >
        #{exportId,jdbcType=VARCHAR},
      </if>
      <if test="packingListId != null" >
        #{packingListId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        #{inputDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractIds != null" >
        #{contractIds,jdbcType=VARCHAR},
      </if>
      <if test="customerContract != null" >
        #{customerContract,jdbcType=VARCHAR},
      </if>
      <if test="lcno != null" >
        #{lcno,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="marks != null" >
        #{marks,jdbcType=VARCHAR},
      </if>
      <if test="shipmentPort != null" >
        #{shipmentPort,jdbcType=VARCHAR},
      </if>
      <if test="destinationPort != null" >
        #{destinationPort,jdbcType=VARCHAR},
      </if>
      <if test="transportMode != null" >
        #{transportMode,jdbcType=VARCHAR},
      </if>
      <if test="priceCondition != null" >
        #{priceCondition,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="boxNum != null" >
        #{boxNum,jdbcType=INTEGER},
      </if>
      <if test="cnumber != null" >
        #{cnumber,jdbcType=INTEGER},
      </if>
      <if test="packingUnit != null" >
        #{packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null" >
        #{grossWeight,jdbcType=DECIMAL},
      </if>
      <if test="netWeight != null" >
        #{netWeight,jdbcType=DECIMAL},
      </if>
      <if test="sizeLength != null" >
        #{sizeLength,jdbcType=DECIMAL},
      </if>
      <if test="sizeWidth != null" >
        #{sizeWidth,jdbcType=DECIMAL},
      </if>
      <if test="sizeHeight != null" >
        #{sizeHeight,jdbcType=DECIMAL},
      </if>
      <if test="csize != null" >
        #{csize,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="noTax != null" >
        #{noTax,jdbcType=DECIMAL},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=DECIMAL},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="costTax != null" >
        #{costTax,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDept != null" >
        #{createDept,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.itcast.jk.pojo.ExportCExample" resultType="java.lang.Integer" >
    select count(*) from export_c
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update export_c
    <set >
      <if test="record.exportId != null" >
        EXPORT_ID = #{record.exportId,jdbcType=VARCHAR},
      </if>
      <if test="record.packingListId != null" >
        PACKING_LIST_ID = #{record.packingListId,jdbcType=VARCHAR},
      </if>
      <if test="record.contractId != null" >
        CONTRACT_ID = #{record.contractId,jdbcType=VARCHAR},
      </if>
      <if test="record.inputDate != null" >
        INPUT_DATE = #{record.inputDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contractIds != null" >
        CONTRACT_IDS = #{record.contractIds,jdbcType=VARCHAR},
      </if>
      <if test="record.customerContract != null" >
        CUSTOMER_CONTRACT = #{record.customerContract,jdbcType=VARCHAR},
      </if>
      <if test="record.lcno != null" >
        LCNO = #{record.lcno,jdbcType=VARCHAR},
      </if>
      <if test="record.consignee != null" >
        CONSIGNEE = #{record.consignee,jdbcType=VARCHAR},
      </if>
      <if test="record.marks != null" >
        MARKS = #{record.marks,jdbcType=VARCHAR},
      </if>
      <if test="record.shipmentPort != null" >
        SHIPMENT_PORT = #{record.shipmentPort,jdbcType=VARCHAR},
      </if>
      <if test="record.destinationPort != null" >
        DESTINATION_PORT = #{record.destinationPort,jdbcType=VARCHAR},
      </if>
      <if test="record.transportMode != null" >
        TRANSPORT_MODE = #{record.transportMode,jdbcType=VARCHAR},
      </if>
      <if test="record.priceCondition != null" >
        PRICE_CONDITION = #{record.priceCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.boxNum != null" >
        BOX_NUM = #{record.boxNum,jdbcType=INTEGER},
      </if>
      <if test="record.cnumber != null" >
        CNUMBER = #{record.cnumber,jdbcType=INTEGER},
      </if>
      <if test="record.packingUnit != null" >
        PACKING_UNIT = #{record.packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.grossWeight != null" >
        GROSS_WEIGHT = #{record.grossWeight,jdbcType=DECIMAL},
      </if>
      <if test="record.netWeight != null" >
        NET_WEIGHT = #{record.netWeight,jdbcType=DECIMAL},
      </if>
      <if test="record.sizeLength != null" >
        SIZE_LENGTH = #{record.sizeLength,jdbcType=DECIMAL},
      </if>
      <if test="record.sizeWidth != null" >
        SIZE_WIDTH = #{record.sizeWidth,jdbcType=DECIMAL},
      </if>
      <if test="record.sizeHeight != null" >
        SIZE_HEIGHT = #{record.sizeHeight,jdbcType=DECIMAL},
      </if>
      <if test="record.csize != null" >
        CSIZE = #{record.csize,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null" >
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.noTax != null" >
        NO_TAX = #{record.noTax,jdbcType=DECIMAL},
      </if>
      <if test="record.tax != null" >
        TAX = #{record.tax,jdbcType=DECIMAL},
      </if>
      <if test="record.costPrice != null" >
        COST_PRICE = #{record.costPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.costTax != null" >
        COST_TAX = #{record.costTax,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDept != null" >
        CREATE_DEPT = #{record.createDept,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update export_c
    set EXPORT_ID = #{record.exportId,jdbcType=VARCHAR},
      PACKING_LIST_ID = #{record.packingListId,jdbcType=VARCHAR},
      CONTRACT_ID = #{record.contractId,jdbcType=VARCHAR},
      INPUT_DATE = #{record.inputDate,jdbcType=TIMESTAMP},
      CONTRACT_IDS = #{record.contractIds,jdbcType=VARCHAR},
      CUSTOMER_CONTRACT = #{record.customerContract,jdbcType=VARCHAR},
      LCNO = #{record.lcno,jdbcType=VARCHAR},
      CONSIGNEE = #{record.consignee,jdbcType=VARCHAR},
      MARKS = #{record.marks,jdbcType=VARCHAR},
      SHIPMENT_PORT = #{record.shipmentPort,jdbcType=VARCHAR},
      DESTINATION_PORT = #{record.destinationPort,jdbcType=VARCHAR},
      TRANSPORT_MODE = #{record.transportMode,jdbcType=VARCHAR},
      PRICE_CONDITION = #{record.priceCondition,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      BOX_NUM = #{record.boxNum,jdbcType=INTEGER},
      CNUMBER = #{record.cnumber,jdbcType=INTEGER},
      PACKING_UNIT = #{record.packingUnit,jdbcType=VARCHAR},
      GROSS_WEIGHT = #{record.grossWeight,jdbcType=DECIMAL},
      NET_WEIGHT = #{record.netWeight,jdbcType=DECIMAL},
      SIZE_LENGTH = #{record.sizeLength,jdbcType=DECIMAL},
      SIZE_WIDTH = #{record.sizeWidth,jdbcType=DECIMAL},
      SIZE_HEIGHT = #{record.sizeHeight,jdbcType=DECIMAL},
      CSIZE = #{record.csize,jdbcType=DECIMAL},
      AMOUNT = #{record.amount,jdbcType=DECIMAL},
      NO_TAX = #{record.noTax,jdbcType=DECIMAL},
      TAX = #{record.tax,jdbcType=DECIMAL},
      COST_PRICE = #{record.costPrice,jdbcType=DECIMAL},
      COST_TAX = #{record.costTax,jdbcType=DECIMAL},
      STATE = #{record.state,jdbcType=INTEGER},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_DEPT = #{record.createDept,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.jk.pojo.ExportC" >
    update export_c
    <set >
      <if test="packingListId != null" >
        PACKING_LIST_ID = #{packingListId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        INPUT_DATE = #{inputDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractIds != null" >
        CONTRACT_IDS = #{contractIds,jdbcType=VARCHAR},
      </if>
      <if test="customerContract != null" >
        CUSTOMER_CONTRACT = #{customerContract,jdbcType=VARCHAR},
      </if>
      <if test="lcno != null" >
        LCNO = #{lcno,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        CONSIGNEE = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="marks != null" >
        MARKS = #{marks,jdbcType=VARCHAR},
      </if>
      <if test="shipmentPort != null" >
        SHIPMENT_PORT = #{shipmentPort,jdbcType=VARCHAR},
      </if>
      <if test="destinationPort != null" >
        DESTINATION_PORT = #{destinationPort,jdbcType=VARCHAR},
      </if>
      <if test="transportMode != null" >
        TRANSPORT_MODE = #{transportMode,jdbcType=VARCHAR},
      </if>
      <if test="priceCondition != null" >
        PRICE_CONDITION = #{priceCondition,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="boxNum != null" >
        BOX_NUM = #{boxNum,jdbcType=INTEGER},
      </if>
      <if test="cnumber != null" >
        CNUMBER = #{cnumber,jdbcType=INTEGER},
      </if>
      <if test="packingUnit != null" >
        PACKING_UNIT = #{packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null" >
        GROSS_WEIGHT = #{grossWeight,jdbcType=DECIMAL},
      </if>
      <if test="netWeight != null" >
        NET_WEIGHT = #{netWeight,jdbcType=DECIMAL},
      </if>
      <if test="sizeLength != null" >
        SIZE_LENGTH = #{sizeLength,jdbcType=DECIMAL},
      </if>
      <if test="sizeWidth != null" >
        SIZE_WIDTH = #{sizeWidth,jdbcType=DECIMAL},
      </if>
      <if test="sizeHeight != null" >
        SIZE_HEIGHT = #{sizeHeight,jdbcType=DECIMAL},
      </if>
      <if test="csize != null" >
        CSIZE = #{csize,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="noTax != null" >
        NO_TAX = #{noTax,jdbcType=DECIMAL},
      </if>
      <if test="tax != null" >
        TAX = #{tax,jdbcType=DECIMAL},
      </if>
      <if test="costPrice != null" >
        COST_PRICE = #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="costTax != null" >
        COST_TAX = #{costTax,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDept != null" >
        CREATE_DEPT = #{createDept,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where EXPORT_ID = #{exportId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.jk.pojo.ExportC" >
    update export_c
    set PACKING_LIST_ID = #{packingListId,jdbcType=VARCHAR},
      CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      INPUT_DATE = #{inputDate,jdbcType=TIMESTAMP},
      CONTRACT_IDS = #{contractIds,jdbcType=VARCHAR},
      CUSTOMER_CONTRACT = #{customerContract,jdbcType=VARCHAR},
      LCNO = #{lcno,jdbcType=VARCHAR},
      CONSIGNEE = #{consignee,jdbcType=VARCHAR},
      MARKS = #{marks,jdbcType=VARCHAR},
      SHIPMENT_PORT = #{shipmentPort,jdbcType=VARCHAR},
      DESTINATION_PORT = #{destinationPort,jdbcType=VARCHAR},
      TRANSPORT_MODE = #{transportMode,jdbcType=VARCHAR},
      PRICE_CONDITION = #{priceCondition,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      BOX_NUM = #{boxNum,jdbcType=INTEGER},
      CNUMBER = #{cnumber,jdbcType=INTEGER},
      PACKING_UNIT = #{packingUnit,jdbcType=VARCHAR},
      GROSS_WEIGHT = #{grossWeight,jdbcType=DECIMAL},
      NET_WEIGHT = #{netWeight,jdbcType=DECIMAL},
      SIZE_LENGTH = #{sizeLength,jdbcType=DECIMAL},
      SIZE_WIDTH = #{sizeWidth,jdbcType=DECIMAL},
      SIZE_HEIGHT = #{sizeHeight,jdbcType=DECIMAL},
      CSIZE = #{csize,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      NO_TAX = #{noTax,jdbcType=DECIMAL},
      TAX = #{tax,jdbcType=DECIMAL},
      COST_PRICE = #{costPrice,jdbcType=DECIMAL},
      COST_TAX = #{costTax,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=INTEGER},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DEPT = #{createDept,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where EXPORT_ID = #{exportId,jdbcType=VARCHAR}
  </update>
</mapper>