<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.jk.mapper.ItemsCMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.jk.pojo.ItemsC" >
    <id column="ITEMS_ID" property="itemsId" jdbcType="VARCHAR" />
    <result column="ITEM_NO" property="itemNo" jdbcType="VARCHAR" />
    <result column="ITEM_IMAGE" property="itemImage" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="FACTORY_ID" property="factoryId" jdbcType="VARCHAR" />
    <result column="FACTORY" property="factory" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="SIZE_LENGHT" property="sizeLenght" jdbcType="DECIMAL" />
    <result column="SIZE_WIDTH" property="sizeWidth" jdbcType="DECIMAL" />
    <result column="SIZE_HEIGHT" property="sizeHeight" jdbcType="DECIMAL" />
    <result column="COLOR" property="color" jdbcType="VARCHAR" />
    <result column="PACKING" property="packing" jdbcType="VARCHAR" />
    <result column="PACKING_UNIT" property="packingUnit" jdbcType="VARCHAR" />
    <result column="TYPE20" property="type20" jdbcType="DECIMAL" />
    <result column="TYPE40" property="type40" jdbcType="DECIMAL" />
    <result column="TYPE40HC" property="type40hc" jdbcType="DECIMAL" />
    <result column="QTY" property="qty" jdbcType="INTEGER" />
    <result column="CBM" property="cbm" jdbcType="DECIMAL" />
    <result column="MPSIZE_LENGHT" property="mpsizeLenght" jdbcType="DECIMAL" />
    <result column="MPSIZE_WIDTH" property="mpsizeWidth" jdbcType="DECIMAL" />
    <result column="MPSIZE_HEIGHT" property="mpsizeHeight" jdbcType="DECIMAL" />
    <result column="CNOTE" property="cnote" jdbcType="VARCHAR" />
    <result column="INPUT_TIME" property="inputTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DEPT" property="createDept" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ITEMS_ID, ITEM_NO, ITEM_IMAGE, DESCRIPTION, FACTORY_ID, FACTORY, PRICE, SIZE_LENGHT, 
    SIZE_WIDTH, SIZE_HEIGHT, COLOR, PACKING, PACKING_UNIT, TYPE20, TYPE40, TYPE40HC, 
    QTY, CBM, MPSIZE_LENGHT, MPSIZE_WIDTH, MPSIZE_HEIGHT, CNOTE, INPUT_TIME, CREATE_BY, 
    CREATE_DEPT, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.itcast.jk.pojo.ItemsCExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from items_c
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from items_c
    where ITEMS_ID = #{itemsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from items_c
    where ITEMS_ID = #{itemsId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.itcast.jk.pojo.ItemsCExample" >
    delete from items_c
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.itcast.jk.pojo.ItemsC" >
    insert into items_c (ITEMS_ID, ITEM_NO, ITEM_IMAGE, 
      DESCRIPTION, FACTORY_ID, FACTORY, 
      PRICE, SIZE_LENGHT, SIZE_WIDTH, 
      SIZE_HEIGHT, COLOR, PACKING, 
      PACKING_UNIT, TYPE20, TYPE40, 
      TYPE40HC, QTY, CBM, 
      MPSIZE_LENGHT, MPSIZE_WIDTH, MPSIZE_HEIGHT, 
      CNOTE, INPUT_TIME, CREATE_BY, 
      CREATE_DEPT, CREATE_TIME)
    values (#{itemsId,jdbcType=VARCHAR}, #{itemNo,jdbcType=VARCHAR}, #{itemImage,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{factoryId,jdbcType=VARCHAR}, #{factory,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{sizeLenght,jdbcType=DECIMAL}, #{sizeWidth,jdbcType=DECIMAL}, 
      #{sizeHeight,jdbcType=DECIMAL}, #{color,jdbcType=VARCHAR}, #{packing,jdbcType=VARCHAR}, 
      #{packingUnit,jdbcType=VARCHAR}, #{type20,jdbcType=DECIMAL}, #{type40,jdbcType=DECIMAL}, 
      #{type40hc,jdbcType=DECIMAL}, #{qty,jdbcType=INTEGER}, #{cbm,jdbcType=DECIMAL}, 
      #{mpsizeLenght,jdbcType=DECIMAL}, #{mpsizeWidth,jdbcType=DECIMAL}, #{mpsizeHeight,jdbcType=DECIMAL}, 
      #{cnote,jdbcType=VARCHAR}, #{inputTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{createDept,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.jk.pojo.ItemsC" >
    insert into items_c
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemsId != null" >
        ITEMS_ID,
      </if>
      <if test="itemNo != null" >
        ITEM_NO,
      </if>
      <if test="itemImage != null" >
        ITEM_IMAGE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="factoryId != null" >
        FACTORY_ID,
      </if>
      <if test="factory != null" >
        FACTORY,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="sizeLenght != null" >
        SIZE_LENGHT,
      </if>
      <if test="sizeWidth != null" >
        SIZE_WIDTH,
      </if>
      <if test="sizeHeight != null" >
        SIZE_HEIGHT,
      </if>
      <if test="color != null" >
        COLOR,
      </if>
      <if test="packing != null" >
        PACKING,
      </if>
      <if test="packingUnit != null" >
        PACKING_UNIT,
      </if>
      <if test="type20 != null" >
        TYPE20,
      </if>
      <if test="type40 != null" >
        TYPE40,
      </if>
      <if test="type40hc != null" >
        TYPE40HC,
      </if>
      <if test="qty != null" >
        QTY,
      </if>
      <if test="cbm != null" >
        CBM,
      </if>
      <if test="mpsizeLenght != null" >
        MPSIZE_LENGHT,
      </if>
      <if test="mpsizeWidth != null" >
        MPSIZE_WIDTH,
      </if>
      <if test="mpsizeHeight != null" >
        MPSIZE_HEIGHT,
      </if>
      <if test="cnote != null" >
        CNOTE,
      </if>
      <if test="inputTime != null" >
        INPUT_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDept != null" >
        CREATE_DEPT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemsId != null" >
        #{itemsId,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null" >
        #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="itemImage != null" >
        #{itemImage,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="sizeLenght != null" >
        #{sizeLenght,jdbcType=DECIMAL},
      </if>
      <if test="sizeWidth != null" >
        #{sizeWidth,jdbcType=DECIMAL},
      </if>
      <if test="sizeHeight != null" >
        #{sizeHeight,jdbcType=DECIMAL},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="packing != null" >
        #{packing,jdbcType=VARCHAR},
      </if>
      <if test="packingUnit != null" >
        #{packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="type20 != null" >
        #{type20,jdbcType=DECIMAL},
      </if>
      <if test="type40 != null" >
        #{type40,jdbcType=DECIMAL},
      </if>
      <if test="type40hc != null" >
        #{type40hc,jdbcType=DECIMAL},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="cbm != null" >
        #{cbm,jdbcType=DECIMAL},
      </if>
      <if test="mpsizeLenght != null" >
        #{mpsizeLenght,jdbcType=DECIMAL},
      </if>
      <if test="mpsizeWidth != null" >
        #{mpsizeWidth,jdbcType=DECIMAL},
      </if>
      <if test="mpsizeHeight != null" >
        #{mpsizeHeight,jdbcType=DECIMAL},
      </if>
      <if test="cnote != null" >
        #{cnote,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null" >
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDept != null" >
        #{createDept,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.itcast.jk.pojo.ItemsCExample" resultType="java.lang.Integer" >
    select count(*) from items_c
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update items_c
    <set >
      <if test="record.itemsId != null" >
        ITEMS_ID = #{record.itemsId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemNo != null" >
        ITEM_NO = #{record.itemNo,jdbcType=VARCHAR},
      </if>
      <if test="record.itemImage != null" >
        ITEM_IMAGE = #{record.itemImage,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryId != null" >
        FACTORY_ID = #{record.factoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.factory != null" >
        FACTORY = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.sizeLenght != null" >
        SIZE_LENGHT = #{record.sizeLenght,jdbcType=DECIMAL},
      </if>
      <if test="record.sizeWidth != null" >
        SIZE_WIDTH = #{record.sizeWidth,jdbcType=DECIMAL},
      </if>
      <if test="record.sizeHeight != null" >
        SIZE_HEIGHT = #{record.sizeHeight,jdbcType=DECIMAL},
      </if>
      <if test="record.color != null" >
        COLOR = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.packing != null" >
        PACKING = #{record.packing,jdbcType=VARCHAR},
      </if>
      <if test="record.packingUnit != null" >
        PACKING_UNIT = #{record.packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.type20 != null" >
        TYPE20 = #{record.type20,jdbcType=DECIMAL},
      </if>
      <if test="record.type40 != null" >
        TYPE40 = #{record.type40,jdbcType=DECIMAL},
      </if>
      <if test="record.type40hc != null" >
        TYPE40HC = #{record.type40hc,jdbcType=DECIMAL},
      </if>
      <if test="record.qty != null" >
        QTY = #{record.qty,jdbcType=INTEGER},
      </if>
      <if test="record.cbm != null" >
        CBM = #{record.cbm,jdbcType=DECIMAL},
      </if>
      <if test="record.mpsizeLenght != null" >
        MPSIZE_LENGHT = #{record.mpsizeLenght,jdbcType=DECIMAL},
      </if>
      <if test="record.mpsizeWidth != null" >
        MPSIZE_WIDTH = #{record.mpsizeWidth,jdbcType=DECIMAL},
      </if>
      <if test="record.mpsizeHeight != null" >
        MPSIZE_HEIGHT = #{record.mpsizeHeight,jdbcType=DECIMAL},
      </if>
      <if test="record.cnote != null" >
        CNOTE = #{record.cnote,jdbcType=VARCHAR},
      </if>
      <if test="record.inputTime != null" >
        INPUT_TIME = #{record.inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDept != null" >
        CREATE_DEPT = #{record.createDept,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update items_c
    set ITEMS_ID = #{record.itemsId,jdbcType=VARCHAR},
      ITEM_NO = #{record.itemNo,jdbcType=VARCHAR},
      ITEM_IMAGE = #{record.itemImage,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      FACTORY_ID = #{record.factoryId,jdbcType=VARCHAR},
      FACTORY = #{record.factory,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=DECIMAL},
      SIZE_LENGHT = #{record.sizeLenght,jdbcType=DECIMAL},
      SIZE_WIDTH = #{record.sizeWidth,jdbcType=DECIMAL},
      SIZE_HEIGHT = #{record.sizeHeight,jdbcType=DECIMAL},
      COLOR = #{record.color,jdbcType=VARCHAR},
      PACKING = #{record.packing,jdbcType=VARCHAR},
      PACKING_UNIT = #{record.packingUnit,jdbcType=VARCHAR},
      TYPE20 = #{record.type20,jdbcType=DECIMAL},
      TYPE40 = #{record.type40,jdbcType=DECIMAL},
      TYPE40HC = #{record.type40hc,jdbcType=DECIMAL},
      QTY = #{record.qty,jdbcType=INTEGER},
      CBM = #{record.cbm,jdbcType=DECIMAL},
      MPSIZE_LENGHT = #{record.mpsizeLenght,jdbcType=DECIMAL},
      MPSIZE_WIDTH = #{record.mpsizeWidth,jdbcType=DECIMAL},
      MPSIZE_HEIGHT = #{record.mpsizeHeight,jdbcType=DECIMAL},
      CNOTE = #{record.cnote,jdbcType=VARCHAR},
      INPUT_TIME = #{record.inputTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_DEPT = #{record.createDept,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.jk.pojo.ItemsC" >
    update items_c
    <set >
      <if test="itemNo != null" >
        ITEM_NO = #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="itemImage != null" >
        ITEM_IMAGE = #{itemImage,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        FACTORY_ID = #{factoryId,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        FACTORY = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="sizeLenght != null" >
        SIZE_LENGHT = #{sizeLenght,jdbcType=DECIMAL},
      </if>
      <if test="sizeWidth != null" >
        SIZE_WIDTH = #{sizeWidth,jdbcType=DECIMAL},
      </if>
      <if test="sizeHeight != null" >
        SIZE_HEIGHT = #{sizeHeight,jdbcType=DECIMAL},
      </if>
      <if test="color != null" >
        COLOR = #{color,jdbcType=VARCHAR},
      </if>
      <if test="packing != null" >
        PACKING = #{packing,jdbcType=VARCHAR},
      </if>
      <if test="packingUnit != null" >
        PACKING_UNIT = #{packingUnit,jdbcType=VARCHAR},
      </if>
      <if test="type20 != null" >
        TYPE20 = #{type20,jdbcType=DECIMAL},
      </if>
      <if test="type40 != null" >
        TYPE40 = #{type40,jdbcType=DECIMAL},
      </if>
      <if test="type40hc != null" >
        TYPE40HC = #{type40hc,jdbcType=DECIMAL},
      </if>
      <if test="qty != null" >
        QTY = #{qty,jdbcType=INTEGER},
      </if>
      <if test="cbm != null" >
        CBM = #{cbm,jdbcType=DECIMAL},
      </if>
      <if test="mpsizeLenght != null" >
        MPSIZE_LENGHT = #{mpsizeLenght,jdbcType=DECIMAL},
      </if>
      <if test="mpsizeWidth != null" >
        MPSIZE_WIDTH = #{mpsizeWidth,jdbcType=DECIMAL},
      </if>
      <if test="mpsizeHeight != null" >
        MPSIZE_HEIGHT = #{mpsizeHeight,jdbcType=DECIMAL},
      </if>
      <if test="cnote != null" >
        CNOTE = #{cnote,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null" >
        INPUT_TIME = #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDept != null" >
        CREATE_DEPT = #{createDept,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ITEMS_ID = #{itemsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.jk.pojo.ItemsC" >
    update items_c
    set ITEM_NO = #{itemNo,jdbcType=VARCHAR},
      ITEM_IMAGE = #{itemImage,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      FACTORY_ID = #{factoryId,jdbcType=VARCHAR},
      FACTORY = #{factory,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      SIZE_LENGHT = #{sizeLenght,jdbcType=DECIMAL},
      SIZE_WIDTH = #{sizeWidth,jdbcType=DECIMAL},
      SIZE_HEIGHT = #{sizeHeight,jdbcType=DECIMAL},
      COLOR = #{color,jdbcType=VARCHAR},
      PACKING = #{packing,jdbcType=VARCHAR},
      PACKING_UNIT = #{packingUnit,jdbcType=VARCHAR},
      TYPE20 = #{type20,jdbcType=DECIMAL},
      TYPE40 = #{type40,jdbcType=DECIMAL},
      TYPE40HC = #{type40hc,jdbcType=DECIMAL},
      QTY = #{qty,jdbcType=INTEGER},
      CBM = #{cbm,jdbcType=DECIMAL},
      MPSIZE_LENGHT = #{mpsizeLenght,jdbcType=DECIMAL},
      MPSIZE_WIDTH = #{mpsizeWidth,jdbcType=DECIMAL},
      MPSIZE_HEIGHT = #{mpsizeHeight,jdbcType=DECIMAL},
      CNOTE = #{cnote,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DEPT = #{createDept,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ITEMS_ID = #{itemsId,jdbcType=VARCHAR}
  </update>
</mapper>