<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.jk.mapper.VoteRecordBMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.jk.pojo.VoteRecordB" >
    <id column="VOTE_RECORD_ID" property="voteRecordId" jdbcType="VARCHAR" />
    <result column="CTYPE" property="ctype" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="VOTER" property="voter" jdbcType="VARCHAR" />
    <result column="VOTE_VALUE" property="voteValue" jdbcType="INTEGER" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="ADVISE" property="advise" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    VOTE_RECORD_ID, CTYPE, DEPT_NAME, VOTER, VOTE_VALUE, IP, ADVISE, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.itcast.jk.pojo.VoteRecordBExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vote_record_b
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vote_record_b
    where VOTE_RECORD_ID = #{voteRecordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from vote_record_b
    where VOTE_RECORD_ID = #{voteRecordId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.itcast.jk.pojo.VoteRecordBExample" >
    delete from vote_record_b
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.itcast.jk.pojo.VoteRecordB" >
    insert into vote_record_b (VOTE_RECORD_ID, CTYPE, DEPT_NAME, 
      VOTER, VOTE_VALUE, IP, 
      ADVISE, CREATE_TIME)
    values (#{voteRecordId,jdbcType=VARCHAR}, #{ctype,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{voter,jdbcType=VARCHAR}, #{voteValue,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{advise,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.jk.pojo.VoteRecordB" >
    insert into vote_record_b
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="voteRecordId != null" >
        VOTE_RECORD_ID,
      </if>
      <if test="ctype != null" >
        CTYPE,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="voter != null" >
        VOTER,
      </if>
      <if test="voteValue != null" >
        VOTE_VALUE,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="advise != null" >
        ADVISE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="voteRecordId != null" >
        #{voteRecordId,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="voter != null" >
        #{voter,jdbcType=VARCHAR},
      </if>
      <if test="voteValue != null" >
        #{voteValue,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="advise != null" >
        #{advise,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.itcast.jk.pojo.VoteRecordBExample" resultType="java.lang.Integer" >
    select count(*) from vote_record_b
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vote_record_b
    <set >
      <if test="record.voteRecordId != null" >
        VOTE_RECORD_ID = #{record.voteRecordId,jdbcType=VARCHAR},
      </if>
      <if test="record.ctype != null" >
        CTYPE = #{record.ctype,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.voter != null" >
        VOTER = #{record.voter,jdbcType=VARCHAR},
      </if>
      <if test="record.voteValue != null" >
        VOTE_VALUE = #{record.voteValue,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        IP = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.advise != null" >
        ADVISE = #{record.advise,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vote_record_b
    set VOTE_RECORD_ID = #{record.voteRecordId,jdbcType=VARCHAR},
      CTYPE = #{record.ctype,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      VOTER = #{record.voter,jdbcType=VARCHAR},
      VOTE_VALUE = #{record.voteValue,jdbcType=INTEGER},
      IP = #{record.ip,jdbcType=VARCHAR},
      ADVISE = #{record.advise,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.jk.pojo.VoteRecordB" >
    update vote_record_b
    <set >
      <if test="ctype != null" >
        CTYPE = #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="voter != null" >
        VOTER = #{voter,jdbcType=VARCHAR},
      </if>
      <if test="voteValue != null" >
        VOTE_VALUE = #{voteValue,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="advise != null" >
        ADVISE = #{advise,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where VOTE_RECORD_ID = #{voteRecordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.jk.pojo.VoteRecordB" >
    update vote_record_b
    set CTYPE = #{ctype,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      VOTER = #{voter,jdbcType=VARCHAR},
      VOTE_VALUE = #{voteValue,jdbcType=INTEGER},
      IP = #{ip,jdbcType=VARCHAR},
      ADVISE = #{advise,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where VOTE_RECORD_ID = #{voteRecordId,jdbcType=VARCHAR}
  </update>
</mapper>